<div class="container-main">
    <div>

        <div class="col-md-9 text-center m-5" id="top-bar">
            <img src="/assets/burgerpic.jpg" alt="Burger">
            <br>
            <br>
            <h1>Eat tha Burgers!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Burgers to Try:</h2>
            <br>
            {{#each burger_data}}
            {{#unless this.devoured}}
            <h3>{{this.burger_name}}</h3>
            <form method="POST" class="devour-form button-size" action="/api/burgers/update">
                <input input type="hidden" name="burger_id" type="text" value={{this.id}}>
                <button type="submit" class="btn btn-primary">
                    EAT IT! </button>
            </form>
            {{/unless}}
            {{/each}}
        </div>

        <div>
            <h2>Burgers Eaten:</h2>
            <br>
            {{#each burger_data}}
            {{#if this.devoured}}
            <ul>
                <h3>{{this.burger_name}}</h3>
            </ul>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="col-md-12 text-center m-2">
        <div>
            <div>
                <h2>Add a Burger</h2>
            </div>
            <br>
            <form class="create-form" action="/api/burgers" method="POST">
                <div class="form-group"><span></span>
                    <label for="bn">Burger Name:</label>
                    <input type="text" id="bn" name="burger_name">
                    <button type="submit" class="btn btn-success" id="add-burger">
                        ADD BURGER</button>
                </div>
            </form>
        </div>
    </div>